.clear:before, .clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.white {
    background: #ffffffff;
}

.black {
    background: #000000;
}

.greish-white {
    background: #f5f5f5;
}

.align-content {
    width: 1135px;
    margin: 0 auto;
}

.container {
    width: 100%;
    min-width: 1400px;
    padding-right: 0px;
}

nav .company-logo {
    float: left;
}

nav .menu {
    float: right;
}

nav a{
    display: inline-block;
    padding:0px 25px 0px 25px;
    line-height: 70px;
}

nav .company-logo a {
    padding-top:21px;
    padding-left: 0px;
}

.header-container {
    padding-top: 72px;
    padding-bottom: 140px;
    
}

header .download-section {
    width: 515px;
    float: left;
}

header .download-section figure {
    margin-bottom: 32px;
}

header .download-section .separator img{
    margin: 38px 0px;
}

header .download-section p{
    line-height: 24px;
}

.download-button {
    width: 135px;
    line-height: 42px;
    margin-top: 47px;
}

.download-button a {
    display: block;
}

header .signup-form {
    float: right;
    width: 360px;
}

header .signup-form h2 {
    line-height: 54px;
    margin-top: 30px;
}

header .signup-form form input {
    line-height: 31px;
    margin-left: 38px;
    margin-top: 35px;
    margin-bottom: 35px;
    padding-left: 13px;
    border: 0px;
    width: 284px;
}

header .signup-form form input:last-child {
    width: 360px;
    line-height: 54px;
    margin: 0px;
}


.social-media-links-container {
    margin-bottom: 3px;
}

.social-media-links-container .social-media {
    padding-right: 18px;
}

.social-media-links-container .social-media .social-media-intro{
    width: 369px;
    float: left;
}

.social-media-links-container .social-media h3{
    line-height: 42px;
}

.social-media-links-container .social-media p{
    line-height: 20px;
}

.social-media-links-container .social-media-links {
    float: right;
}

.social-media-links-container .social-media-links ul li {
    float: left;
}

.social-media-links-container .social-media-links ul li a {
    display: block;
}

.social-media-links-container .social-media-links ul li figure {
    padding: 18px;
}

.transition-block-container .col2-left {
    padding-bottom: 116px;
    padding-top: 145px;
}

.transition-block-container .col2-left .left{
    width: 110px;
    line-height: 110px;
    float: left;
}

.transition-block-container .col2-left .left ul li {
    border: 1px solid #dad8d8;
}

.transition-block-container .col2-left .main {
    padding-top:8px;
    width: 922px;
    float: right;
}

.transition-block-container .col2-left .main section {
    width: 475px;
    float: left;
}

.transition-block-container .col2-left .main section h3 {
    padding-bottom: 32px;
}

.transition-block-container .col2-left .main section p{
    padding-top: 25px;
    line-height: 20px;
}

.transition-block-container .col2-left .main figure {
    margin-top: 16px;
    float: right;
}

.sublist-section-container .sublist-section {
    padding-top: 108px;
    padding-bottom: 137px;
}

.sublist-section-container .sublist-section figure{
    float: left;
}

.sublist-section-container .sublist-section section figure {
    margin-top: 22px;
    margin-bottom: 22px;
    float: none;
}

.sublist-section-container .sublist-section section {
    width: 454px;
    float: right;
}

.sublist-section-container .sublist-section section h3 {
    padding-bottom: 5px;
}

.sublist-section-container .sublist-section section p {
    margin-bottom: 32px;
    line-height: 22px;
}

.sublist-section-container .sublist-section section ul .action {
    display: inline-block;
    float: left;
}

.sublist-section-container .sublist-section section ul .action a{
    width: 40px;
    height: 40px;
    display: block;
}

.sublist-section-container .sublist-section section ul li section {
    float: left;
    width: 360px;
    padding-left: 38px;
}

.sublist-section-container .sublist-section section ul li {
    float: left;
}

.picture-section-container .picture-section {
    padding-top: 108px;
    padding-bottom: 137px;
}

.picture-section-container .picture-section figure{
    float: right;
}

.picture-section-container .picture-section section figure {
    margin-top: 22px;
    margin-bottom: 22px;
    float: none;
}

.picture-section-container .picture-section section {
    width: 500px;
    float: left;
}

.picture-section-container .picture-section section h3 {
    padding-bottom: 5px;
}

.picture-section-container .picture-section section p {
    margin-bottom: 32px;
    line-height: 22px;
}

.wrapper {
    padding-top: 108px;
    padding-bottom: 65px;
}

.wrapper .heading figure img {
    margin: 0 auto;
}

.wrapper .heading figure {
    margin-top: 22px;
    margin-bottom: 22px;
}

.wrapper .heading p, .promote-container .wrapper .options p {
    padding-bottom: 20px;
    line-height: 17px;
}

.promote-container .wrapper .options h3{
    line-height: 74px;
}

.promote-container .wrapper .options section{
    padding-top: 20px;
    margin-right: 32px;
    width: 354px;
    float: left;
}

.promote-container .wrapper .options > section:last-child {
    margin-right: 0px;
}

.promote-container .wrapper .options section figure img {
    margin: 0 auto;
}

.pricing-option-container .option table {
    padding-top: 40px;
    margin-right: 40px;
    float: left;
    width: 340px;
}

.pricing-option-container .option > table:last-child {
    margin-right: 0px;
}

.pricing-option-container .option table tr th{
    line-height: 60px;
    font-size: 20px;
}

.pricing-option-container .option table tr th .price {
    line-height: 50px;
}

.pricing-option-container .option table tr td {
    line-height: 40px;
}

.pricing-option-container .option table tr th .price .cost{
    padding-top: 32px;
    display: inline-block;
    font-family: 'Raleway',sans-serif;
    font-weight: bolder;
    font-size: 60px;
}

.pricing-option-container .option table tr .pop-up {
    display: none;
}

.pricing-option-container .option table:hover .pop-up {
    display: block;
}

.pricing-option-container .option table:hover {
    padding-top: 0px;
}

.pricing-option-container .option table th .price .payment-plan {
    display: block;
} 

.customer-feedback-container .wrapper .option >.testimonial:first-child {
    padding-left: 25px;
}

.customer-feedback-container .wrapper .option >.testimonial:last-child {
    padding-right: 25px;
}

.customer-feedback-container .wrapper .option .testimonial {
    width: 274px;
    float: left;
    padding: 60px;
}

.customer-feedback-container .wrapper .option .testimonial .comment{
    line-height: 19px;
    padding: 12px 25px;
}

.customer-feedback-container .wrapper .option .testimonial figure img{
    float: left;
}

.customer-feedback-container .wrapper .option .testimonial .user {
    float: left;
    padding-top: 30px;
    padding-left: 20px;
}

.download-container .wrapper .download-button {
    margin: 0 auto;
}

.contact-us-container .wrapper .options .personnel-info {
    width: 528px;
    float: left;
}

.contact-us-container .wrapper .options input{
    border: 0px;
    width: 528px;
    display: block;
    padding-left: 13px;
    line-height: 31px;
    margin-top: 36px;
    
}

.contact-us-container .wrapper .options .input-field .personnel-info > input:first-child {
    margin: 0px;
}

.contact-us-container .wrapper .options .input-field textarea {
    resize:none;
    float: right;
    padding-left: 13px;
    border: 0px;
    width: 518px;
    height:165px;
    line-height: 31px;
}

.contact-us-container .wrapper .options .button-field {
    padding-top: 50px;
}

.contact-us-container .wrapper .options .button-field input{
    margin: 0 auto;
    padding: 0px;
    width: 146px;
    line-height: 44px;
}

.footer-container footer ul {
    display: inline-block;
}

.footer-container footer ul li {
    padding: 10px;
    float: left;
}