* {
    padding: 0px;
    margin: 0px;
}

img {
    width: auto;
    height: auto;
    display: block;
}

header, footer ,nav {
    display: block;
}

ul {
    list-style-type:none;
    display: block;
}

a {
    text-decoration-line: none;
    display: block;
}