* {
    padding: 0px;
    margin: 0px;
}

img {
    width: auto;
    height: auto;
    display: block;
}

header, footer ,nav {
    display: block;
}

.clear:before, .clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.white {
    background: #ffffffff;
}

.black {
    background: #000000;
}

.greish-white {
    background: #f5f5f5;
}

.align-content {
    width: 1135px;
    margin: 0 auto;
}