.clear:before, .clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.white {
    background: #ffffffff;
}

.black {
    background: #000000;
}

.greish-white {
    background: #f5f5f5;
}

.align-content {
    max-width: 70.9375em;
    margin: 0 auto;
}

nav .company-logo {
    float: left;
}

nav .menu {
    float: right;
}

nav a{
    padding:0px 25px 0px 25px;
    display: inline-block;
    line-height: 70px;
}

nav .hamburger {
    display: none;
}

nav .company-logo a {
    padding-top:21px;
    padding-left: 0px;
}

.header-container {
    padding-top: 72px;
    padding-bottom: 140px;
    padding-right: 25px;
    
}

header .download-section {
    width: 45.3744%;
    float: left;
}

header .download-section figure {
    margin-bottom: 32px;
}

header .download-section .separator img{
    margin: 38px 0px;
}

header .download-section p{
    line-height: 24px;
}

.download-button {
    width: 135px;
    line-height: 42px;
    margin-top: 47px;
}

.download-button a {
    display: block;
}

header .signup-form {
    float: right;
    width: 31.7180%;
}

header .signup-form h2 {
    display: block;
    line-height: 54px;
    margin-top: 30px;
}

header .signup-form form input {
    padding-left: 13px;
    border: 0px;
    width: 79.1666%;
    line-height: 31px;
    margin-left: 38px;
    margin-top: 35px;
    margin-bottom: 35px;
}

header .signup-form form input:last-child {
    width: 100%;
    line-height: 54px;
    margin: 0px;
}

.social-media-links-container {
    margin-bottom: 3px;
}

.social-media-links-container .social-media {
    padding-right: 18px;
}

.social-media-links-container .social-media .social-media-intro{
    width: 31.7180%;
    float: left;
}

.social-media-links-container .social-media h3{
    line-height: 42px;
}

.social-media-links-container .social-media p{
    line-height: 20px;
}

.social-media-links-container .social-media-links {
    float: right;
}

.social-media-links-container .social-media-links ul li {
    float: left;
}

.social-media-links-container .social-media-links ul li a {
    display: block;
}

.social-media-links-container .social-media-links ul li figure {
    padding: 18px;
}

.transition-block-container .col2-left {
    padding-bottom: 116px;
    padding-top: 145px;
}

.transition-block-container .col2-left .left{
    width: 9.69162%;
    line-height: 110px;
    float: left;
}

.transition-block-container .col2-left .left ul {
    display: block;
}

.transition-block-container .col2-left .left ul li{
    border: 1px solid #dad8d8;
}

.transition-block-container .col2-left .left ul li a {
    display: block;
}


.transition-block-container .col2-left .main {
    padding-top:8px;
    width: 85.0572%;
    float: right;
}

.transition-block-container .col2-left .main section {
    width: 42.2907%;
    float: left;
}

.transition-block-container .col2-left .main section h3 {
    padding-bottom: 32px;
}

.transition-block-container .col2-left .main section p{
    padding-top: 25px;
    line-height: 20px;
}

.transition-block-container .col2-left .main figure {
    margin-top: 16px;
    float: right;
}

.sublist-section-container .sublist-section {
    padding-top: 108px;
    padding-bottom: 137px;
}

.sublist-section-container .sublist-section figure{
    float: left;
}

.sublist-section-container .sublist-section section figure {
    margin-top: 22px;
    margin-bottom: 22px;
    float: none;
}

.sublist-section-container .sublist-section section {
    width: 38.7665%;
    float: right;
}

.sublist-section-container .sublist-section section h3 {
    padding-bottom: 5px;
}

.sublist-section-container .sublist-section section p {
    margin-bottom: 32px;
    line-height: 22px;
}

.sublist-section-container .sublist-section section ul .action {
    display: inline-block;
    float: left;
}

.sublist-section-container .sublist-section section ul .action:hover {
    background-color: #f5f5f5;
}

.sublist-section-container .sublist-section section ul .action a{
    width: 40px;
    height: 40px;
    display: block;
}

.sublist-section-container .sublist-section section ul li section {
    float: left;
    width: 75.4716%;
    padding-left: 38px;
}

.sublist-section-container .sublist-section section ul li {
    float: left;
}

.picture-section-container .picture-section {
    padding-top: 108px;
    padding-bottom: 137px;
}

.picture-section-container .picture-section figure{
    float: right;
}

.picture-section-container .picture-section section figure {
    margin-top: 22px;
    margin-bottom: 22px;
    float: none;
}

.picture-section-container .picture-section section {
    width: 38.7665%;
    float: left;
}

.picture-section-container .picture-section section h3 {
    padding-bottom: 5px;
}

.picture-section-container .picture-section section p {
    margin-bottom: 32px;
    line-height: 22px;
}

.wrapper {
    padding-top: 108px;
    padding-bottom: 65px;
}

.wrapper .heading figure img {
    margin: 0 auto;
}

.wrapper .heading figure {
    margin-top: 22px;
    margin-bottom: 22px;
}

.wrapper .heading p, .promote-container .wrapper .options p {
    padding-bottom: 20px;
    line-height: 17px;
}

.promote-container .wrapper .options h3{
    line-height: 74px;
}

.promote-container .wrapper .options section{
    padding-top: 20px;
    margin-right: 32px;
    width: 30.8370%;
    float: left;
}

.promote-container .wrapper .options ul li {
    float: left;
}

.promote-container .wrapper .options > section:last-child {
    margin-right: 0px;
}

.promote-container .wrapper .options section figure img {
    margin: 0 auto;
}

.pricing-option-container .option table {
    padding-top: 40px;
    margin-right: 40px;
    float: left;
    width: 30.2202%;
}

.pricing-option-container .option > table:last-child {
    margin-right: 0px;
}

.pricing-option-container .option table tr th{
    line-height: 60px;
}

.pricing-option-container .option table tr th .price {
    line-height: 50px;
}

.pricing-option-container .option table tr td {
    line-height: 40px;
}

.pricing-option-container .option table tr th .price .cost{
    padding-top: 32px;
    display: inline-block;
}

.pricing-option-container .option table tr .pop-up {
    display: none;
}

.pricing-option-container .option table:hover .pop-up {
    display: block;
}

.pricing-option-container .option table:hover {
    padding-top: 0px;
}

.pricing-option-container .option table th .price .payment-plan {
    display: block;
} 

.customer-feedback-container .wrapper .option >.testimonial:first-child {
    padding-left: 25px;
}

.customer-feedback-container .wrapper .option >.testimonial:last-child {
    padding-right: 25px;
}

.customer-feedback-container .wrapper .option .testimonial {
    width: 23.9647%;
    float: left;
    padding: 55px;
}

.customer-feedback-container .wrapper .option .testimonial .comment{
    line-height: 19px;
    padding: 12px 25px;
}

.customer-feedback-container .wrapper .option .testimonial figure img{
    float: left;
}

.customer-feedback-container .wrapper .option .testimonial .user {
    float: left;
    padding-top: 30px;
    padding-left: 20px;
}

.customer-feedback-container .wrapper .option .testimonial .user .name {
    display: block;
}

.download-container .wrapper .download-button {
    margin: 0 auto;
}

.contact-us-container .wrapper .options .personnel-info {
    width: 46.4317%;
    float: left;
}

.contact-us-container .wrapper .options input{
    line-height: 31px;
    display: block;
    padding-left: 13px;
    border: 0px;
    width: 100%;
    margin-top: 36px;
}

.contact-us-container .wrapper .options .input-field .personnel-info > input:first-child {
    margin: 0px;
}

.contact-us-container .wrapper .options .input-field textarea {
    resize:none;
    float: right;
    padding-left: 13px;
    border: 0px;
    width: 46.4317%;
    height:165px;
    line-height: 31px;
}

.contact-us-container .wrapper .options .button-field {
    padding-top: 50px;
}

.contact-us-container .wrapper .options .button-field input{
    margin: 0 auto;
    padding: 0px;
    width: 146px;
    line-height: 50px;
}

.footer-container footer ul {
    display: inline-block;
}

.footer-container footer ul li {
    padding: 10px;
    float: left;
}

@media screen and (max-width:769px) {
    .header-components .header-container .signup-form {
        display: none;
    }

    .header-components .header-container .download-section {
        width: 100%;
    }

    .social-media-links-container {
        display: none;
    }

    .transition-block-container .col2-left .left {
        display: none;
    }

    .transition-block-container .col2-left .main {
        width: 100%;
    }

    .sublist-section-container {
        display: none;
    }

    .picture-section {
        display: none;
    }

    .promote-container .wrapper .options section{
        box-shadow: 3px 3px 5px grey;
        margin-right: 16px;
        width: 30.8370%;
    }
    .promote-container .wrapper .options section p {
        padding: 5px;
        text-align: justify;
    }

    .pricing-option-container .wrapper .option table {
        margin-right: 15px;
    }

    .customer-feedback-container {
        display: none;
    }
}

@media screen and (max-width:360px) {
    .header-components .nav-container nav .menu{
        display: none;
    }

    .header-components .nav-container nav .hamburger .menu {
        display: block;
    }

    .header-components .nav-container nav .hamburger {
        display: inline-block;
        float: right;
    }

    .header-components .nav-container nav .hamburger img {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 30px;
    }

    .header-components .nav-container nav .hamburger .hamburger-menu {
        display: none;
    }

    .header-components .nav-container nav .hamburger:hover .hamburger-menu {
        display: block;
    }

    .header-components .nav-container {
        padding-bottom: 10px;
    }

    .transition-block-container .col2-left .main figure {
        display: none;
    }

    .transition-block-container .col2-left .main section {
        width: 100%;
    }

    .transition-block-container .col2-left {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .promote-container .wrapper .options {
        display: none;
    }

    .pricing-option-container .wrapper .option {
        display: none;
    }

    .contact-us-container {
        display: none;
    }
}