* {
    padding: 0px;
    margin: 0px;
}

img {
    width: auto;
    height: auto;
    display: block;
}

header, footer ,nav {
    display: block;
}

ul {
    display: block;
    list-style-type: none;
}

a{
    display: block;
    text-decoration-line: none;
}